image:
  repository: 167345113114.dkr.ecr.ap-south-1.amazonaws.com/project-1
  tag: df5effc
  pullPolicy: Always
replicaCount: 2
service:
  type: NodePort
  port: 80
hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
